@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: "Ubuntu Condensed", sans-serif;
  --font-heading: "PT Serif", serif;

  --colors-red: #aa6f73;
  --colors-purple: #66545e;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: var(--font-body);
  -webkit-tap-highlight-color: transparent;
}
.font-heading {
  font-family: var(--font-heading);
}

html,
body {
  margin: 0;
  font-size: 18px;
}

@layer components {
  // overlay
  .overlay {
    @apply fixed top-0 left-0 w-full h-full bg-gray-700 opacity-50 backdrop-blur-lg flex;
  }
  // Navbar menu
  .navbar__menu {
    @apply fixed top-0 px-4 pt-20 pb-4 backdrop-blur-lg bg-[rgba(255,255,255,.9)] flex flex-col w-full gap-2;
  }

  // Navbar
  .navbar {
    @apply flex fixed top-0 py-3 border-b w-full px-5 h-16 items-center z-[999] backdrop-blur-lg bg-[rgba(255,255,255,.9)];

    & .navbar__logo {
      @apply flex items-center gap-5 mr-auto cursor-pointer;
    }
    & .navbar__search {
      @apply hidden sm:block max-w-xs w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 ml-1 h-10;
    }
    & .navbar__link {
      @apply items-center rounded-md hover:bg-gray-100 px-3 h-10 hidden sm:flex;
    }
    & .navbar__mobileButton {
      @apply active:bg-gray-100 h-10 w-10 rounded-full flex sm:hidden items-center justify-center;

      &.active {
        @apply bg-gray-100 active:bg-gray-200;
      }
    }
  }

  // Container
  .container {
    @apply pt-16 px-4 mt-10 w-full mx-auto;
  }

  // Banner
  .banner {
    @apply flex items-end p-10 h-96 w-full rounded-3xl bg-gradient-to-tr from-gray-100 to-gray-300;
  }

  // Grid
  .box {
    @apply w-full rounded-3xl bg-gray-200 p-5 border-4;
    border-color: var(--colors-red);
  }

  .heading {
    color: var(--colors-red);
  }
}
