@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: "Ubuntu Condensed", sans-serif;
  --font-heading: "PT Serif", serif;

  --colors-red: #aa6f73;
  --colors-light-pink: #caa5a8;
  --colors-purple: #66545e;
}

::-webkit-scrollbar {
  display: none;
}

* {
  font-family: var(--font-body);
  -webkit-tap-highlight-color: transparent;
}
.font-heading {
  font-family: var(--font-heading);
  font-weight: 700;
  & * {
    font-family: var(--font-heading);
    font-weight: 700;
  }
}

html,
body {
  margin: 0;
  font-size: 18px;
  user-select: none;
}

@layer components {
  // overlay
  .overlay {
    @apply fixed z-20 top-0 left-0 w-full h-full bg-gray-700 opacity-50 backdrop-blur-lg flex;
  }
  // Navbar menu
  .navbar__menu {
    @apply z-20 fixed top-0 px-4 pt-20 pb-4 backdrop-blur-lg bg-[rgba(255,255,255,.9)] flex flex-col w-full gap-2;
  }

  // Navbar
  .navbar {
    @apply flex fixed top-0 py-3 border-b w-full px-5 h-16 items-center z-[999] backdrop-blur-lg bg-[rgba(255,255,255,.9)];

    & .navbar__logo {
      @apply flex items-center gap-5 mr-auto cursor-pointer;
    }
    & .navbar__search {
      @apply hidden lg:block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 ml-1 h-10;
      max-width: 200px;
    }
    & .navbar__link {
      @apply items-center rounded-md hover:bg-gray-100 px-3 h-10 hidden lg:flex;
    }
    & .navbar__mobileButton {
      @apply active:bg-gray-100 h-10 w-10 rounded-full flex lg:hidden items-center justify-center;

      &.active {
        @apply bg-gray-100 active:bg-gray-200;
      }
    }
  }

  // Container
  .container {
    @apply pt-16 px-4 mt-10 w-full mx-auto;
  }

  .tab {
    @apply px-4 py-2 hover:bg-gray-100 active:bg-gray-200 rounded-xl border border-gray-300 font-heading cursor-pointer;
    &.active {
      @apply bg-gray-200 hover:bg-gray-300 active:bg-gray-400;
    }
  }

  // Banner
  .banner {
    @apply flex items-end p-10 h-96 w-full rounded-3xl bg-gradient-to-tr from-gray-100 to-gray-300;
  }

  // Grid
  .box {
    @apply w-full rounded-3xl bg-gray-200 p-5 border-4;
    border-color: var(--colors-red);
  }

  .heading,
  .text-red {
    color: var(--colors-red);
  }

  .border-red {
    border-color: var(--colors-red);
  }

  // About us page
  .howWeWork-grid {
    @apply w-full text-center;
    & img {
      height: 200px;
      margin: auto;
      object-fit: cover;
    }
  }

  .blog-category {
    @apply font-heading text-3xl mb-4;
  }
}
